.cards-list {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cards-title {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
}








